body {
    background-color: rgb(255, 202, 242);
}

h1 {
    color: rgb(163, 8, 86);
}

p {
    font-size: 17px;
}

.grid-container {
  display: grid;
  grid-template-areas:
  'header header header header header header'
  'menu main main main right right'
  'menu footer footer footer footer footer';
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
body {
 display: grid;
 min-height: 100vh;
 grid-template-columns: 250px auto;
 grid-template-rows: 100px 50px auto 50px;
 grid-template-areas:
 "header header"
 "nav main"
 "aside main"
 "footer footer";
}
header {
 grid-area: header;
}
nav {
 grid-area: nav;
}
aside {
 grid-area: sidebar;
}
main {
 grid-area: main;
}
footer {
 grid-area: footer;
av ul {
 display: flex;
 flex-direction: row;
 gap: 20px;
}
nav a {
 color: red;
}
nav a:hover {
 background-color: green;
}
nav a:focus {
 color: blue;
}
nav a:active {
 background-color: gray;
}
av ul {
 flex-direction: row;
 gap: 20px;
} 
